.eolzoom_block {
    font-family: "Roboto", sans-serif;
    background: #ffffff;
    text-align: center;
    max-width: 360px;
    margin: 10px auto;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}

.eolzoom_block p {
    margin-bottom: 1.41575em;
}

.eolzoom_block a.button {
    text-transform: uppercase;
    outline: 0;
    display:block;
    border: 0;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
}
.eolzoom_block a.button-blue {
    background: #2d8cff;
    color: #FFFFFF;
}
.eolzoom_block a.button-blue:hover,.eolzoom_block a.button-blue:active,.eolzoom_block a.button-blue:focus {
    background: #0f68d6;
    color: #FFFFFF;
}

.eolzoom_block a.button-green {
    background: #d4edda;
    color: #155724;
    margin-bottom: 20px;
}
.eolzoom_block a.button-green:hover,.eolzoom_block a.button-green:active,.eolzoom_block a.button-green:focus {
    background: #c3e6cb;
    color: #155724;
}

.zoom-logo {
    max-height: 35px;
    margin: -5px auto 25px;
    display: block;
}

.eolzoom_block .eolzoom_title {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

.eolzoom_block .eolzoom_detail {
    font-size: 1em;
    text-align: justify;
}

.eolzoom_block .eolzoom_password {
    margin-top: 10px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    border: 2px dashed #2d8cff;
}

.eolzoom_block .eolzoom_detail span.fa{
    margin-right:10px;
}

.eolzoom_block .eolzoom_error {
    color: #FF5722;
    text-align: center;
    font-weight: 100;
}

.eolzoom_block .eolzoom_error.contact {
    color: #6d6c6c;
}


/*
 Author view
*/

.eolzoom_author .alert {
  position: relative;
  font-style: italic;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-bottom: 1em;
}

.eolzoom_author .alert-warning {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24 !important;
}

.eolzoom_author a {
    cursor: pointer;
    font-weight: bold;
}

.eolzoom_author .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724 !important;
}

.eolzoom_author .alert-info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085 !important;
  }

/*
* Studio editor View
*/

.eolzoom_studio .add-xblock-component-button {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    padding: 10px!important;
    height: auto !important;
    width:150px !important;
    background: #2d8cff !important;
    border-color: #2d8cff !important;
}

.eolzoom_studio .new-component {
    padding:20px;
}

.eolzoom_studio .zoom-hint {
    font-weight: 200;
    font-style: italic;
    margin-top: 10px;
}

.eolzoom_studio .zoom-hint-success {
    color: #155724;
    margin-top: 0px;
}