<div class="eolzoom_author">
    {% if not status %}
        <div class="alert alert-warning">
            <p>El componente <strong>no se ha configurado correctamente</strong>.</p>
            <p>Edita nuevamente, y revisa que todos los campos se han rellenado.</p>
        </div>
    {% else %}
        <div class="alert alert-success">
            <p>El componente ya está configurado.</p>
                {% if xblock.restricted_access %}
                <p style="font-weight: bold;">
                    - La transmisión tiene acceso restringido. Cuando el anfitrión presione el botón <u>INICIAR TRANSMISIÓN</u> todos los usuarios inscritos en el curso podrán ingresar a la sala de videollamada.
                </p>
                {% endif %}
            <p>
                - Al iniciar la transmisión los estudiantes recibirán una notificación en su correo electrónico.
            </p>
            
            <p>El anfitrión de la transmisión es: <strong>{{xblock.created_by}}</strong>.</p>
        </div>
        <div class="alert alert-info">
            <p>IMPORTANTE: Las modificaciones realizadas a través del sitio <a href="{{ EOLZOOM_DOMAIN }}">UChile Zoom</a> no se verán reflejadas en este componente.</p>
            <p>ATENCIÓN: Sólo <strong>{{xblock.created_by}}</strong> podrá modificar este componente e iniciar la transmisión.</p>
        </div>
        {% if xblock.google_access %}
            <div class="alert alert-info">
                <p>IMPORTANTE: Las modificaciones realizadas a través del sitio <a href="https://www.youtube.com/">YouTube</a> no se verán reflejadas en este componente.</p>
                <p>Si la transmisión de zoom es cerrada por el anfitrión e iniciada nuevamente, se creará un nuevo livestream por youtube</p>
                <p>El livestream por youtube estará disponible en el(los) siguente(s) enlace(s):</p>
                {% for id in broadcast_id %}
                    <p><strong><a href="{{id}}">{{id}}</a></strong></p>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
<div class="eolzoom_alert">
</div>
<div class="eolzoom_block">
    <img class="zoom-logo" src="{{ zoom_logo_path }}" alt="Zoom-Logo" />
    {% if status %}
        <p class="eolzoom_title">{{ xblock.display_name | safe}}</p>
        <p class="eolzoom_detail"><span class="fa fa-calendar" aria-hidden="true"></span>Fecha: {{ xblock.date }} - {{ xblock.time }}</p>
        {% if xblock.description %}
            <p class="eolzoom_detail"><span class="fa fa-info-circle" aria-hidden="true"></span>Descripción: {{ xblock.description | safe}}</p>
        {% endif %}
        <p class="eolzoom_detail" style="margin-bottom: 20px;"><span class="fa fa-clock-o" aria-hidden="true"></span>Duración estimada: {{ xblock.duration }} minutos</p>
        {% if user_id == xblock.edx_created_by %}
            <a href="{{xblock.start_url}}" target="__blank" class="button button-green start_meeting-btn">INICIAR TRANSMISIÓN</a>
        {% else %}
            <a href="{{xblock.join_url}}" target="__blank" class="button button-blue join_meeting-btn">INGRESAR A LA SALA</a>
        {% endif %}
        {% if not xblock.restricted_access and '?pwd=' not in  xblock.join_url and xblock.meeting_password != 'undefined' and xblock.meeting_password != None %}
            <p class="eolzoom_password">La contraseña de la videollamada es: <strong>{{ xblock.meeting_password }}</strong></p>
        {% endif %}
    {% else %}
        <p class="eolzoom_error">La sesión de Zoom no ha sido configurada correctamente. </p>
        <p class="eolzoom_error contact">Contáctate con alguien del equipo docente para solucionar el problema.</p>
    {% endif %}
</div>
