<div class="eolzoom_block">
    <img class="zoom-logo" src="{{ zoom_logo_path }}" alt="Zoom-Logo" />
    {% if status %}
    <p class="eolzoom_title">{{ xblock.display_name | safe}}</p>
    <p class="eolzoom_detail"><span class="fa fa-calendar" aria-hidden="true"></span>Fecha: {{ xblock.date }} - {{ xblock.time }}</p>
    <p class="eolzoom_detail"><span class="fa fa-info-circle" aria-hidden="true"></span>Descripción: {{ xblock.description | safe}}</p>
    <p class="eolzoom_detail" style="margin-bottom: 20px;"><span class="fa fa-clock-o" aria-hidden="true"></span>Duración estimada: {{ xblock.duration }} minutos</p>
        {% if is_course_staff %}
            <a href="https://reuna.zoom.us/s/{{ xblock.meeting_id }}" target="__blank" class="button button-green">INICIAR TRANSMISIÓN</a>
        {% endif %}
        <a href="https://reuna.zoom.us/j/{{ xblock.meeting_id }}" target="__blank" class="button button-blue">INGRESAR A LA SALA</a>
    {% else %}
        <p class="eolzoom_error">La sesión de Zoom no ha sido configurada correctamente. </p>
        <p class="eolzoom_error contact">Contáctate con alguien del equipo docente para solucionar el problema.</p>
    {% endif %}
</div>
