{% load i18n %}
<div class="eolzoom_loading ui-loading" id="eolzoom_loading">
  <p><span class="spin"><span class="icon fa fa-refresh" aria-hidden="true"></span></span> <span class="copy">Cargando</span></p>
</div>
<div class="wrapper-comp-settings is-active editor-with-buttons eolzoom_studio" id="settings-tab">
  <ul class="list-input settings-list">
    <div class="add-xblock-component new-component-item adding logging-container">
      <div class="new-component">
          <img class="zoom-logo" src="{{ zoom_logo_path }}" alt="Zoom-Logo" />
        <ul class="new-component-type">
            <li>
              <a href="#" class="add-xblock-component-button zoom-login-btn"
                  data-category="categ" data-single-instance="hola">
                Iniciar Sesión
              </a>
            </li>
            <br>
            <li>
                <p class="zoom-hint">Debes iniciar sesión para crear una sala de reuniones programada.</p>
            </li>
        </ul>
      </div>
    </div>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="display_name">Título</label>
        <input class="input setting-input" name="display_name" id="display_name" value="{{xblock.display_name}}" minlength="3" type="text" />
      </div>
      <span class="tip setting-help">Ingresa un título para la videollamada</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="description">Descripción</label>
        <input class="input setting-input" name="description" id="description" value="{{xblock.description}}" minlength="3" type="text" />
      </div>
      <span class="tip setting-help">Indica una breve descripcion de la videollamada</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="date">Fecha</label>
        <input class="input setting-input" name="date" id="date" value='{{xblock.date|default_if_none:""}}' minlength="3" type="date" />
      </div>
      <span class="tip setting-help">Indica la fecha programada de la videollamada</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="time">Hora</label>
        <input class="input setting-input" name="time" id="time" value="{{xblock.time}}" minlength="5" maxlength="5"  type="time" />
      </div>
      <span class="tip setting-help">Indica la hora de la videollamada</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="duration">Duración</label>
        <input class="input setting-input" name="duration" id="duration" value={{xblock.duration}} min="0" type="number" />
      </div>
      <span class="tip setting-help">Duración de la videollamada (en minutos)</span>
    </li>
    <!-- <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="google_access">Youtube Livestream</label>
        <select class="input setting-input" id="google_access" {% if xblock.google_access %}style="background:white;"{% endif %}>
          <option value="0" {% if not xblock.google_access %}selected{% endif %}>
            Deshabilitado
          </option>
          <option value="1" {% if xblock.google_access %}selected{% endif %}>
            Habilitado
          </option>
        </select>
      </div>
      <span class="tip setting-help">
        <div class="eolzoom_loading ui-loading" style="box-shadow: none;" id="eolzoom_loading_youtube">
          <p><span class="spin"><span class="icon fa fa-refresh" aria-hidden="true"></span></span> <span class="copy">Cargando</span></p>
        </div>
        <strong id="google_access_warning"></strong></br>
        <strong id="youtube_validate_strong"><a id='youtube_validate' href='#' >Actualizar Permisos</a></strong>
        <input hidden name="youtube_permission_enabled" type="text" value="0">
        <input hidden name="youtube_logged" type="text" value="0">
      </span>
    </li> -->
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="restricted_access">Acceso Restringido</label>
        <select class="input setting-input" id="restricted_access">
          <option value="0" {% if not xblock.restricted_access %}selected{% endif %}>
            Deshabilitado
          </option>
          <option value="1" {% if xblock.restricted_access %}selected{% endif %}>
            Habilitado
          </option>
        </select>
      </div>
      <span class="tip setting-help">Solo estudiantes inscritos en el curso podran acceder a esta videollamada (al crear una videollamada con esta opción habilitada, no se podrá deshabilitar en un futuro). </span>
      <span class="tip setting-help"><strong id="restricted_access_warning"></strong></span>
      
   </li>
   <li class="field comp-setting-entry is-set">
    <div class="wrapper-comp-setting">
      <label class="label setting-label" for="email_notification">Notificación por Correo</label>
      <select class="input setting-input" id="email_notification">
        <option value="1" {% if xblock.email_notification %}selected{% endif %}>
          Habilitado
        </option>
        <option value="0" {% if not xblock.email_notification %}selected{% endif %}>
          Deshabilitado
        </option>
      </select>
    </div>
    <span class="tip setting-help">Los estudiantes recibirán una notificación por correo electrónico al iniciar la transmisión. </span>
 </li>
  </ul>
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
